@using ToDoList.Service.Entities.ToDoTask
@model IEnumerable<ToDoTask>
<table class="styled-table">
    @foreach (var task in Model.OrderBy(t => t.Title))
    {
        <tr>
            <td style="width:20%;text-align:left;padding-left:2%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap"><b>@task.Title</b></td>
            <td style="width:60%;text-align:left;padding-left:2%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">
                @task.Description
            </td>
            <td style="width:fit-content">
                <form method="post" asp-page="ModifyTask" asp-page-handler="AddOrUpdate">
                    <input type="hidden" value="@task.Id" name="Id" />
                    <input type="hidden" value="@task.Title" name="Title" />
                    <input type="hidden" value="@task.Description" name="Description" />
                    <input type="hidden" value="@task.TaskDate" name="TaskDate" />
                    <input type="hidden" value="@task.IsDone" name="IsDone" />
                    <button type="submit">modify</button>
                </form>
            </td>
            <td style="width:fit-content">
                <form method="post" asp-page="ModifyTask" asp-page-handler="Delete">
                    <input type="hidden" value="@task.Id" name="Id" />
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
    }
</table>
