@using ToDoList.Service.Entities.ToDoTask
@model IEnumerable<ToDoTask>
<table class="styled-table">
    @foreach (var task in Model.OrderBy(t => t.Title))
    {
        <tr>
            <td class="title-cell">
                <div id="@task.Id" onclick="document.getElementById('task_form' + id.toString()).submit(); return false;">
                    <b>@task.Title</b>
                </div>
            </td>
            <td class="description-cell">
                <div id="@task.Id" onclick="document.getElementById('task_form' + id.toString()).submit(); return false;">
                    @task.Description
                </div>
            </td>
            <td style="width:fit-content">
                <form id="@("task_form" + task.Id)" method="post" asp-page="ViewTask">
                    <input type="hidden" value="@task.Id" name="Id" />
                    <input type="hidden" value="@task.Title" name="Title" />
                    <input type="hidden" value="@task.Description" name="Description" />
                    <input type="hidden" value="@task.TaskDate" name="TaskDate" />
                    <input type="hidden" value="@task.IsDone.ToString().ToLower()" name="IsDone" />
                    <button type="submit" class="accept" asp-page="ModifyTask" asp-page-handler="AddOrUpdate">modify</button>
                </form>
            </td>
            <td style="width:fit-content">
                <form method="post" asp-page="ModifyTask" asp-page-handler="Delete">
                    <input type="hidden" value="@task.Id" name="Id" />
                    <button type="submit" class="delete">delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<br />
