@using ToDoList.Service.Entities.ToDoTask
@model IEnumerable<ToDoTask>
<table class="styled-table">
    @foreach (var task in Model.OrderBy(t => t.Title))
    {
        <tr>
            <td class="title-cell">
                <div id="@task.Id" class="hyperlink cell-contents" onclick="document.getElementById('task_form' + id.toString()).submit(); return false;">
                    <b>@task.Title</b>
                </div>
            </td>
            <td class="description-cell">
                <div id="@task.Id" class="hyperlink cell-contents" onclick="document.getElementById('task_form' + id.toString()).submit(); return false;">
                    @(string.IsNullOrEmpty(task.Description) ? "\u200B" : task.Description)
                </div>
            </td>
            <td class="button-cell">
                <form id="@("task_form" + task.Id)" method="post" asp-page="ViewTask">
                    <input type="hidden" value="@task.Id" name="Id" />
                    <input type="hidden" value="@task.Title" name="Title" />
                    <input type="hidden" value="@task.Description" name="Description" />
                    <input type="hidden" value="@task.TaskDate" name="TaskDate" />
                    <input type="hidden" value="@task.IsDone.ToString().ToLower()" name="IsDone" />
                    <button type="submit" class="accept borderless" asp-page="ModifyTask" asp-page-handler="AddOrUpdate">Modify</button>
                </form>
            </td>
            <td class="button-cell">
                <form method="post" asp-page="ModifyTask" asp-page-handler="Delete">
                    <input type="hidden" value="@task.Id" name="Id" />
                    <button type="submit" class="delete borderless">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<br />
