@page
@model ToDoList.Web.Pages.ViewTaskModel
<div class="centered-div">
    <form method="post">
        <input type="hidden" value="@Model.Task.Id" name="Id" />
        <input type="hidden" value="@Model.Task.Title" name="Title" />
        <input type="hidden" value="@Model.Task.Description" name="Description" />
        <input type="hidden" value="@Model.Task.TaskDate" name="TaskDate" />
        <input type="hidden" value="@Model.Task.IsDone" name="IsDone" />
        <button type="submit" asp-page="ModifyTask" asp-page-handler="AddOrUpdate">modify</button>
        <button type="submit" asp-page="ModifyTask" asp-page-handler="Delete">delete</button>
    </form>
    <label for="title">Title</label>
    <h4 id="title">@Model.Task.Title</h4>
    <label for="description">Description</label>
    <h4 id="description">@Model.Task.Description</h4>
    <label for="taskDate">Deadline</label>
    <h4 id="taskDate">@Model.Task.TaskDate.ToShortDateString()</h4>
    <label for="isDone">Status</label>
    <h4 id="isDone">@(Model.Task.IsDone ? "Done" : "To do")</h4>
</div>
