@page
@model ToDoList.Web.Pages.ViewTaskModel
@{
    ViewData["Title"] = $"View task - {Model.Task.Title} - {Model.Task.TaskDate}";
}
<div class="centered-div-50">
    <div class="text-center"><h3>Task #@Model.Task.Id - view</h3></div>
    <form method="post">
        <input type="hidden" value="@Model.Task.Id" name="Id" />
        <input type="hidden" value="@Model.Task.Title" name="Title" />
        <input type="hidden" value="@Model.Task.Description" name="Description" />
        <input type="hidden" value="@Model.Task.TaskDate" name="TaskDate" />
        <input type="hidden" value="@Model.Task.IsDone" name="IsDone" />
        <button type="submit" class="accept" asp-page="ModifyTask" asp-page-handler="AddOrUpdate">Modify</button>
        <button type="submit" class="delete" asp-page="ModifyTask" asp-page-handler="Delete">Delete</button>
    </form>
    <label for="title">Title</label>
    <h4 id="title">@Model.Task.Title</h4>
    <label for="description">Description</label>
    <h4 id="description">@Model.Task.Description</h4>
    <label for="taskDate">Deadline</label>
    <h4 id="taskDate">@Model.Task.TaskDate.ToShortDateString()</h4>
    <label for="isDone">Status</label>
    <h4 id="isDone">@(Model.Task.IsDone ? "Done" : "To do")</h4>
</div>
